$sidebar-bg-color: #9d7463 !default;
$sidebar-color: #fff !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #463939 !default;
$submenu-bg-color: #c4c4c4 !default;
$submenu-bg-color-collapsed: #c4c4c4 !default;
$icon-bg-color: #fff !default;
$icon-size: 36px !default;
$submenu-indent: 24px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';
