.ant-table-thead > tr > th {
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 800;
  text-align: left;
  background: #fff;
  transition: background 0.3s ease;
}

.ant-table.ant-table {
  overflow-x: auto;
}
.ant-table-tbody > tr > td {
  border-bottom: 0;
  transition: background 0.3s;
  word-wrap: break-word;
  word-break: break-all;
}
.dynamic-delete-button {
  position: relative;

  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ant-input-number:hover {
  border-color: #9d7463;
  border-right-width: 1px !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #9d7463;
  border-right-width: 1px !important;
  border-radius: 8px;
}
.ant-input-number:focus,
.ant-input-number-focused,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #9d7463;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(139, 4, 22, 0.219);
}

.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
  color: #9d7463;
}
.ant-input-search-button {
  height: 40px;
}
.ant-input-search-button:hover {
  border-color: #9d7463 !important;
  border: 1px;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 8px 8px 0;
}
.ant-btn:hover,
.ant-btn:focus {
  color: #97515f;
  background: #fff;
  border-style: none;
}
.ant-btn:hover > a:only-child,
.ant-btn:focus > a:only-child {
  color: #97515f;
}
.ant-btn:hover > a:only-child::after,
.ant-btn:focus > a:only-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: '';
}
.ant-btn-custom:active {
  color: #fff;
  background: #692a37 !important;
  border-color: #97515f;
}
.ant-btn-custom {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 50px;
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #d9d9d9;
  background: #97515f;
  box-shadow: rgb(0 0 0 / 25%) 0px 0rem 0.7rem;
}
.ant-btn {
  height: 50px;
}
.ant-btn:active > a:only-child {
  color: currentColor;
}

.ant-btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: #fff;
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: '';
  pointer-events: none;
}
.body-0-2-28 {
  font-family: 'Prompt', sans-serif;
}

.close {
  display: none;
}
.alert {
  width: 400px;
}

.ant-pagination-item-active {
  border-color: #9d7463;
}

.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
  border-color: #9d7463;
}

.ant-pagination-item a:hover {
  border-color: #9d7463;
}
.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #9d7463;
}

.ant-pagination-options-quick-jumper input:focus,
.ant-pagination-options-quick-jumper input-focused {
  border-color: #9d7463;
}
.ant-upload.ant-upload-select-picture-card {
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: rgba(196, 196, 196, 0.49);
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
}
.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #9d7463;
}
.avatar-uploader > .ant-upload {
  width: 100%;
  min-height: 176px;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.ant-input-number-input {
  width: 100%;
  height: 30px;
  padding: 0 11px;
  text-align: right;
  background-color: transparent;
  color: #bdbdbd;
  border: 0;
  border-radius: 2px;
  outline: 0;
  transition: all 0.3s linear;
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}
.ant-input-number-handler-wrap {
  visibility: hidden;
}

.fileIcon {
  margin-right: 30px;
}
.approveIcon {
  margin-right: 10px;
}
.ant-table-fixed {
  table-layout: fixed;
}
.branchName {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 200px;
}
.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #2dc678;
}
.ant-steps-item-error
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #d8434b;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #97515f !important;
}

.bg-soft {
  background-color: black;
  opacity: 0.8;
}

.ant-input {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 4px 11px;
  color: #bdbdbd;
  font-size: 14px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.3s;
}
.ant-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-family: 'Prompt';
}
.ant-input-number {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 4px 11px;
  color: #bdbdbd;
  font-size: 14px;
  background-color: transparent;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.3s;
}

.ant-picker {
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  width: 100%;
  height: 40px;
  list-style: none;
  font-feature-settings: 'tnum';
  padding: 0px 11px;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: border 0.3s, box-shadow 0.3s;
}

.ant-input:focus,
.ant-input-focused {
  border-color: #9d7463;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(139, 4, 22, 0.219);
}

.ant-picker:focus,
.ant-picker-focused {
  border-color: #9d7463;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(139, 4, 22, 0.219);
}

.ant-picker:hover {
  border-color: #9d7463;
  border-right-width: 1px !important;
}

.ant-input:hover {
  border-color: #9d7463;
  border-right-width: 1px !important;
}

textarea.ant-input {
  max-width: 100%;
  height: auto;
  padding: 4px 11px;
  min-height: 40px !important;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 43.59px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 6px 11px;
  transition: border 0.3s, box-shadow 0.3s;
}

.ant-card-actions > li > span:hover {
  color: #9d7463;
  transition: color 0.3s;
}

.add-dimension:hover {
  border-color: #999;
  box-shadow: 0 0 0 2px rgba(179, 179, 179, 0.219);
  transition: border 1s, box-shadow 0.3s;
}

.ant-input-number-group-addon:first-child,
.ant-input-number-group-addon:first-child .ant-select .ant-select-selector,
.ant-input-number-group > .ant-input-number:first-child,
.ant-input-number-group
  > .ant-input-number:first-child
  .ant-select
  .ant-select-selector {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ant-input-number-disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #9d7463;
  border-right-width: 1px !important;
  z-index: 1;
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  height: 40px;
  padding: 0px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.3s;
  display: inline-flex;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #9d7463;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(139, 4, 22, 0.219);
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #97515f;
  pointer-events: none;
}
.ant-picker-ink-bar {
  position: absolute;
  background: #97515f;
  pointer-events: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #97515f !important;
  font-weight: 500;
}

.ant-tabs-tab:hover {
  color: #97515f !important;
  font-weight: 500;
}

.box-report {
  border: 1px solid rgba(179, 179, 179, 0.219);
  border-radius: 16px;
  padding: 10px 4px;
  margin: 0px 48px;
  height: 43.59px;
  box-shadow: 0 0 0 2px rgba(179, 179, 179, 0.219);
}

.ant-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 38.58px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-multiple .ant-select-selection-item {
  position: relative;
  display: flex;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 22px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 4px;
  padding-inline-end: 4px;
}

.ant-picker-range .ant-picker-active-bar {
  background: #97515f !important;
}
.ant-select-selection-search-input {
  margin: 6px 0px !important;
}
.get-current-location {
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.gm-style-cc:last-child {
  display: none !important;
}

a[title='Report errors in the road map or imagery to Google'] {
  display: none !important;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  color: rgba(0, 0, 0, 0.45);
  width: 40px;
  height: 40px;
}

ant-input-search-button:hover {
  border-color: #9d7463 !important;
  border-width: 1px;
}

ant-input-search-button:focus {
  border-color: #9d7463 !important;
  border-width: 1px !important;

  outline: 0 !important;
  box-shadow: 0 0 0 2px rgba(139, 4, 22, 0.219) !important;
}

.ant-input-search .ant-input:focus,
.ant-input-search .ant-input:hover {
  border-color: #9d7463;
}
