// =========================================================
// * Volt React Dashboard
// =========================================================

// * Product Page: https://themesberg.com/product/dashboard/volt-react
// * Copyright 2021 Themesberg (https://www.themesberg.com)
// * Official Repository: https://github.com/themesberg/volt-react-dashboard
// * License: MIT License (https://themesberg.com/licensing)

// * Designed and coded by https://themesberg.com

// =========================================================

// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

// Bootstrap mixins and functions
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';

// Change variables here
@import 'volt/variables';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Vendor
@import 'volt/vendor';

// volt mixins & functions
@import 'volt/mixins';
@import 'volt/functions';

// Utilities
@import 'volt/reboot';
@import 'volt/utilities';

// Layout
@import 'volt/layout';

// Components
@import 'volt/components';

// write your custom styles here!
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 135, 55);
  transition: background-color 5000s ease-in-out 0s;
}